@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Interregular";
  src: local("Inter-Regular"), url(./assets/fonts/Inter_24pt-Regular.ttf);
}

@font-face {
  font-family: "Interbold";
  src: local("Inter-Bold"), url(./assets/fonts/Inter_28pt-Bold.ttf);
}

:root {
  --maincolor: #bbd0ff;
}

body {
  font-family: "Interregular", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(187, 208, 255, 0.3);
}

header {
  background-color: var(--maincolor);
}

.hero-landing {
  background-color: var(--maincolor);
}

.landing-title {
  font-size: 20px;
}

.landing-bio {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
}

.blue-link {
  font-size: 13px;
  color: blue;
}

footer {
  font-size: 13px;
}

.single-case {
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.main-font {
  font-size: 13px;
}

.icon-description {
  font-size: 10px;
}
